/AutoConfig.kmk
/builddir
/configure.log
/env.sh
/build-stamp
/configure-stamp
/modules-stamp
/files
/modules
/vboxdrv.init
/vboxweb-service.init
/preinst
/postinst
/virtualbox-ose
/virtualbox-ose-dbg
/virtualbox-ose.substvars
/virtualbox-ose-dbg.substvars
/virtualbox-*.debhelper
/virtualbox-*.debhelper.log
